*{margin:0;padding:0;}
body{min-width:300px;color:#333;overflow: hidden;margin: 0px;padding:10px;background: white;font-size:20px;}
img{margin:0 4px;}
.button{

}
#addItemDiv{color:#ccc;height:20px;}
.hide{display:none;}
.show{display:block;}
.taskItem{cursor:pointer;padding:2px 0;}
input{width:100%;}
label.on{width:20px; display:inline-block; height:20px; background:url(/img/bg_task_off.gif) no-repeat 0px 2px;}
label.off{width:20px; display:inline-block; height:20px; background:url(/img/bg_task_off.gif) no-repeat 0px 2px;}